.header {
  width: 100%;
  text-align: center;
  background-color: #4484CE;
}

.header__container {
  width: 1170px;
  height: 50px;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 32px;
  padding-left: 20px;
  text-decoration: none;
  color: #FFF;
  font-family: motion-picture;
}

.header__links {
  display: inline-flex;
  height: inherit;
}

.header__links_active {
  font-weight: bold;
  color: #F9CF00;
}
