@import '../../../styles/global';

.dropdown-menu-item {
  background-color: #44849F;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFF;
  display: block;
  list-style-type: none;
  margin-left: 0;
  padding: 0.25 * $unit $unit;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    background-color: #4484C5;
  }
}
